In [1]:
print("Welcome to Python world")

Welcome to Python world

In [ ]:
Introduction to Python Programing

In [ ]:
Understand the variables in python

In [1]:
x = 2
y = 3

In [5]:
z = x+y

print(z)

5

In [ ]:
 Rules for executing the variables :

In [ ]:
Rule No.1 : No Name spaces while declaring the variable Name

In [1]:
first name = "myname"
print(first name)

SyntaxError: invalid syntax (3762232295.py, line 1)

In [3]:
firstname = "myname"
print(firstname)

myname

In [ ]:
Rule No.2 : Avariable name should not start with a number

In [ ]:
1name = "numbername"

In [3]:
print(1name)

SyntaxError: invalid decimal literal (989602786.py, line 1)

In [7]:
name1 = "numbername"
print(name1)

numbername

In [ ]:
Rule No. 3 : a variable should not contains any special character

In [ ]:
! @ # $ 5

In [9]:
name@ = "charactername"

SyntaxError: invalid syntax (1453653871.py, line 1)